@import './color.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.ptb{
    padding: 20px 0;
  }

.pt{
    padding-top: 30px;
}

.pb{
    padding-bottom: 30px;
}
.text-center{
    text-align: center;
}

.wrapper-menu{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
}